<!-- Header-->
<app-grocery-header></app-grocery-header>
<!-- Sidebar menu-->
<app-side-menu></app-side-menu>
<!-- Page-->
<main class="offcanvas-enabled" style="padding-top: 5rem;">
    <app-pagination (total)="total"></app-pagination>
    <section class="ps-lg-4 pe-lg-3 pt-4 min-vh-100">
        <div class="px-3 pt-2">
            <!-- Page title + breadcrumb-->
            <!-- <app-grocery-breadcrumb [breadcrumbItems]="breadCrumbItems"></app-grocery-breadcrumb> -->
            <!-- Sorting-->
            <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
                <h1 class="h2 mb-3 mb-md-0 me-3">{{title}}</h1>
                <!-- <div class="d-flex align-items-center">
                    <div class="d-none d-sm-block py-2 fs-sm text-muted text-nowrap me-2">Sort by:</div>
                    <ul ngbNav #nav="ngbNav" (navChange)="sortproposal($event)" class="nav nav-tabs fs-sm mb-0">
                        <li class="nav-item" [ngbNavItem]="1"><a ngbNavLink class="nav-link"
                                href="javascript:void(0);">Popular</a></li>
                        <li class="nav-item" [ngbNavItem]="2"><a ngbNavLink class="nav-link"
                                href="javascript:void(0);">Cheap</a></li>
                        <li class="nav-item" [ngbNavItem]="3"><a ngbNavLink class="nav-link"
                                href="javascript:void(0);">Expensive</a></li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div> -->
            </section>
        </div>
        <!-- Product grid-->
        <div class="row g-0 mx-n2">
            <ng-container *ngIf="proposals && proposals.length && !loading">
                <!-- Product-->
                <div *ngFor="let proposal of proposals;let i = index;" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 px-2 mb-3">
                    <div class="card proposal-card card-static pb-3">
                        <!-- icon -->
                        <!-- <a class="card-img-top d-block overflow-hidden"><img src="assets/img/icon/business-and-trade.png"
                                alt="Product" (click)="gotodetail(proposal.id)">
                        </a> -->
                        <div class="card-body py-2">
                            <a class="proposal-meta d-block fs-xs pb-1" href="javascript:void(0);" (click)="gotodetail(proposal.id)">
                                {{ pService.convertDate(proposal.date_creation) }}
                            </a>
                            <h3 class="proposal-title fs-sm text-truncate">
                                <a href="javascript:void(0);" (click)="gotodetail(proposal.id)">
                                    {{"PAGES.PROPOSAL.TITLE" | translate}} {{ proposal.ref }}
                                </a>
                            </h3>
                            <div class="proposal-price">
                                <span class="text-accent">{{proposal.total | number:'.1-4'}}€</span>
                            </div>
                              
                            <!-- Button with data-bs-target -->
                            <button type="button" class="btn btn-primary" (click)="isCollapsed[i] = !isCollapsed[i]" aria-controls="collapseExample">
                                <i class="ci-eye ms-1"></i>
                            </button>
                              
                            <!-- Collapse -->
                            <div class="collapse" #collapse="ngbCollapse" [ngbCollapse]="!isCollapsed[i]">
                                <div *ngFor="let line of proposal.lines" class="card card-body">
                                    {{line.libelle}} <br>
                                    {{line.subprice | number:'.1-4'}} x {{line.qty  | number:'.1-4'}} <br>
                                    {{line.total_ht}} HT
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="proposals && !proposals.length && !loading">
                <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
                    //TODO NOTHING AVAILABLE
                    No produitsts
                </div>
            </ng-container>

            <!-- Loader -->
            <div *ngIf="loading" div class="text-center" id="elmLoader">
                <div class="spinner-border text-primary avatar-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <app-pagination (total)="total"></app-pagination>
        </div>
    </section>

    <!-- Footer-->
    <app-grocery-footer></app-grocery-footer>
</main>