.container-si{
    border: 50px;
    border-color: black;
    height: 500px;
    width: 500px;
    padding: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1), 100%)
}

.container-su{
    border:none;
    width: 500px;
    height: 500px;
    padding: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1), 100%)
}

.container-si h1{
    color: aliceblue;
}
.form-label{
    color:aliceblue
}
.container-su h1{
    color: aliceblue;
}
.btn-primary{
    margin-top: 10px;
}
.form-check-label{
    color:aliceblue
}