<app-header></app-header>

<!-- Page Title (Light)-->
<app-breadcrumbs title="Blog list with sidebar" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="container pb-5 mb-2 mb-md-4 pt-5">
  <!-- Featured posts carousel-->
  <swiper [config]="Style" class="">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article><a class="blog-entry-thumb mb-3" routerLink="/blogs/single-sidebar"><span
              class="blog-entry-meta-label fs-sm"><i class="ci-time"></i>Sep 10</span><img
              src="assets/img/blog/featured/01.jpg" alt="Featured post"></a>
          <div class="d-flex justify-content-between mb-2 pt-1">
            <h2 class="h5 blog-entry-title mb-0"><a routerLink="/blogs/single-sidebar">Healthy Food - New Way of
                Living</a></h2><a class="blog-entry-meta-link fs-sm text-nowrap ms-3 pt-1"
              routerLink="/blogs/single-sidebar"><i class="ci-message"></i>13</a>
          </div>
          <div class="d-flex align-items-center fs-sm"><a class="blog-entry-meta-link" href="javascript:void(0);">
              <div class="blog-entry-author-ava"><img src="assets/img/blog/meta/04.jpg" alt="Olivia Reyes"></div>Olivia
              Reyes
            </a><span class="blog-entry-meta-divider"></span>
            <div class="fs-sm text-muted">in <a href='javascript:void(0);' class='blog-entry-meta-link'>Lifestyle</a>,
              <a href='javascript:void(0);' class='blog-entry-meta-link'>Nutrition</a>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article><a class="blog-entry-thumb mb-3" routerLink="/blogs/single-sidebar"><span
              class="blog-entry-meta-label fs-sm"><i class="ci-time"></i>Aug 27</span><img
              src="assets/img/blog/featured/02.jpg" alt="Featured post"></a>
          <div class="d-flex justify-content-between mb-2 pt-1">
            <h2 class="h5 blog-entry-title mb-0"><a routerLink="/blogs/single-sidebar">Online Payment Security Tips for
                Shoppers</a></h2><a class="blog-entry-meta-link fs-sm text-nowrap ms-3 pt-1"
              routerLink="/blogs/single-sidebar"><i class="ci-message"></i>9</a>
          </div>
          <div class="d-flex align-items-center fs-sm"><a class="blog-entry-meta-link" href="javascript:void(0);">
              <div class="blog-entry-author-ava"><img src="assets/img/blog/meta/05.jpg" alt="Rafael Marquez"></div>
              Rafael
              Marquez
            </a><span class="blog-entry-meta-divider"></span>
            <div class="fs-sm text-muted">in <a href='javascript:void(0);' class='blog-entry-meta-link'>Online
                shpopping</a></div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article><a class="blog-entry-thumb mb-3" routerLink="/blogs/single-sidebar"><span
              class="blog-entry-meta-label fs-sm"><i class="ci-time"></i>Aug 16</span><img
              src="assets/img/blog/featured/03.jpg" alt="Featured post"></a>
          <div class="d-flex justify-content-between mb-2 pt-1">
            <h2 class="h5 blog-entry-title mb-0"><a routerLink="/blogs/single-sidebar">We Launched New Store in San
                Francisco!</a></h2><a class="blog-entry-meta-link fs-sm text-nowrap ms-3 pt-1"
              routerLink="/blogs/single-sidebar"><i class="ci-message"></i>23</a>
          </div>
          <div class="d-flex align-items-center fs-sm"><a class="blog-entry-meta-link" href="javascript:void(0);">
              <div class="blog-entry-author-ava"><img src="assets/img/blog/meta/03.jpg" alt="Paul Woodred"></div>Paul
              Woodred
            </a><span class="blog-entry-meta-divider"></span>
            <div class="fs-sm text-muted">in <a href='javascript:void(0);' class='blog-entry-meta-link'>Cartzilla
                news</a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <hr class="mt-5">
  <div class="row pt-5 mt-2">
    <!-- Entries list-->
    <section class="col-lg-8">
      <!-- Entry-->
      <article class="blog-list border-bottom pb-4 mb-5" *ngFor="let data of tables$ | async;let i=index">
        <div class="blog-start-column">
          <div class="d-flex align-items-center fs-sm pb-2 mb-1"><a class="blog-entry-meta-link"
              href="javascript:void(0);">
              <div class="blog-entry-author-ava"><img src="{{data.profile}}" alt="Emma Gallaher"></div>{{data.name}}
            </a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link"
              href="javascript:void(0);">{{data.date}}</a></div>
          <h2 class="h5 blog-entry-title"><a routerLink="/blogs/single-sidebar">{{data.sub_title}}</a></h2>
        </div>
        <div class="blog-end-column">
          <a class="blog-entry-thumb mb-3" routerLink="/blogs/single-sidebar" *ngIf="data.image"><img
              src="{{data.image}}" alt="Post"></a>
          <div class="d-flex justify-content-between mb-1">
            <div class="fs-sm text-muted pe-2 mb-2">in <a href='javascript:void(0);'
                class='blog-entry-meta-link'>Travel</a>, <a href='javascript:void(0);'
                class='blog-entry-meta-link'>Personal finance</a></div>
            <div class="fs-sm mb-2"><a class="blog-entry-meta-link text-nowrap" routerLink="/blogs/single-sidebar"><i
                  class="ci-message"></i>{{data.comment}}</a></div>
          </div>
          <p class="fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea com consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt…
            <a routerLink='/blogs/single-sidebar' class='blog-entry-meta-link fw-medium'>[Read more]</a>
          </p>
        </div>
      </article>
      <!-- Pagination-->
      <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
        <ul class="pagination"></ul>
        <ul class="pagination">
          <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
        </ul>
        <ul class="pagination"></ul>
      </nav>
    </section>
    <aside class="col-lg-4">
      <!-- Sidebar-->
      <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar"
        style="max-width: 22rem;">
        <div class="offcanvas-header align-items-center shadow-sm">
          <h2 class="h5 mb-0">Sidebar</h2>
          <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
          <!-- Categories-->
          <div class="widget widget-links mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
            <h3 class="widget-title">Blog categories</h3>
            <ul class="widget-list">
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Online shopping</span><span
                    class="fs-xs text-muted ms-3">18</span></a></li>
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Fashion</span><span class="fs-xs text-muted ms-3">25</span></a></li>
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Personal finance</span><span
                    class="fs-xs text-muted ms-3">13</span></a></li>
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Travel &amp; vacation</span><span
                    class="fs-xs text-muted ms-3">7</span></a></li>
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Lifestyle</span><span class="fs-xs text-muted ms-3">34</span></a>
              </li>
              <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center"
                  href="javascript:void(0);"><span>Technology</span><span class="fs-xs text-muted ms-3">6</span></a>
              </li>
            </ul>
          </div>
          <!-- Trending posts-->
          <div class="widget mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
            <h3 class="widget-title">Trending posts</h3>
            <div class="d-flex align-items-center mb-3"><a class="flex-shrink-0" routerLink="/blogs/single"><img
                  class="rounded" src="assets/img/blog/widget/01.jpg" width="64" alt="Post image"></a>
              <div class="ps-3">
                <h6 class="blog-entry-title fs-sm mb-0"><a routerLink="/blogs/single">Retro Cameras are Trending. Why so
                    Popular?</a></h6><span class="fs-ms text-muted">by <a href='javascript:void(0);'
                    class='blog-entry-meta-link'>Andy Williams</a></span>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3"><a class="flex-shrink-0" routerLink="/blogs/single"><img
                  class="rounded" src="assets/img/blog/widget/02.jpg" width="64" alt="Post image"></a>
              <div class="ps-3">
                <h6 class="blog-entry-title fs-sm mb-0"><a routerLink="/blogs/single">New Trends in Suburban Fashion</a>
                </h6><span class="fs-ms text-muted">by <a href='javascript:void(0);' class='blog-entry-meta-link'>Susan
                    Mayer</a></span>
              </div>
            </div>
            <div class="d-flex align-items-center"><a class="flex-shrink-0" routerLink="/blogs/single"><img
                  class="rounded" src="assets/img/blog/widget/03.jpg" width="64" alt="Post image"></a>
              <div class="ps-3">
                <h6 class="blog-entry-title fs-sm mb-0"><a routerLink="/blogs/single">Augmented Reality - Game Changing
                    Technology</a></h6><span class="fs-ms text-muted">by <a href='javascript:void(0);'
                    class='blog-entry-meta-link'>John Doe</a></span>
              </div>
            </div>
          </div>
          <!-- Popular tags-->
          <div class="widget pb-grid-gutter mx-lg-2">
            <h3 class="widget-title">Popular tags</h3><a class="btn-tag me-2 mb-2"
              href="javascript:void(0);">#fashion</a><a class="btn-tag me-2 mb-2"
              href="javascript:void(0);">#gadgets</a><a class="btn-tag me-2 mb-2" href="javascript:void(0);">#online
              shopping</a><a class="btn-tag me-2 mb-2" href="javascript:void(0);">#top brands</a><a
              class="btn-tag me-2 mb-2" href="javascript:void(0);">#travel</a><a class="btn-tag me-2 mb-2"
              href="javascript:void(0);">#cartzilla news</a><a class="btn-tag me-2 mb-2"
              href="javascript:void(0);">#personal finance</a><a class="btn-tag me-2 mb-2"
              href="javascript:void(0);">#tips &amp; tricks</a>
          </div>
          <!-- Promo banner-->
          <div class="bg-size-cover bg-position-center rounded-3 py-5 mx-lg-2"
            style="background-image: url(assets/img/blog/banner-bg.jpg);">
            <div class="py-5 px-4 text-center">
              <h5 class="mb-2">Your Add Banner Here</h5>
              <p class="fs-sm text-muted">Hurry up to reserve your spot</p><a class="btn btn-primary btn-shadow btn-sm"
                href="javascript:void(0);">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

<!-- Footer-->
<app-footer></app-footer>