<!-- Sign In Modal-->
<ng-template #toggleFirstModal let-modal>
    <div class="modal-content">
        <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" ngbNav #nav="ngbNav">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link fw-medium"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a>
                    <ng-template ngbNavContent>
                        <form class="needs-validation tab-pane fade show active" autocomplete="off"
                            [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="mb-3">
                                <label class="form-label" for="si-email">Email address</label>
                                <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com"
                                    required formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="si-password">Password {{loginPassfield}}</label>
                                <div class="password-toggle">
                                    <input class="form-control" [type]="loginPassfield ? 'text' : 'password'"
                                        id="si-password" required formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span
                                            class="password-toggle-indicator" [ngClass]="{'mdi-eye-off-outline': !loginPassfield, 'mdi-eye-outline': loginPassfield
                    }" (click)="toggleLoginPassField()"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3 d-flex flex-wrap justify-content-between">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="si-remember">
                                    <label class="form-check-label" for="si-remember">Remember me</label>
                                </div><a class="fs-sm" href="javascript:void(0);">Forgot password?</a>
                            </div>
                            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link fw-medium"><i class="ci-user me-2 mt-n1"></i>Sign up</a>
                    <ng-template ngbNavContent>
                        <form class="needs-validation tab-pane fade show active" autocomplete="off"
                            [formGroup]="SignupForm" (ngSubmit)="SignupSubmit()">
                            <div class="mb-3">
                                <label class="form-label" for="su-name">Full name</label>
                                <input class="form-control" type="text" id="su-name" placeholder="John Doe" required
                                    formControlName="name" [ngClass]="{ 'is-invalid': submit && fa['name'].errors }">
                                <div class="invalid-feedback">Please fill in your name.</div>
                            </div>
                            <div class="mb-3">
                                <label for="su-email">Email address</label>
                                <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com"
                                    required formControlName="email"
                                    [ngClass]="{ 'is-invalid': submit && fa['email'].errors }">
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="su-password">Password</label>
                                <div class="password-toggle">
                                    <input class="form-control" [type]="signupPassfield ? 'text' : 'password'"
                                        id="su-password" required formControlName="password"
                                        [ngClass]="{ 'is-invalid': submit && fa['password'].errors }">
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span
                                            class="password-toggle-indicator" [ngClass]="{'mdi-eye-off-outline': !signupPassfield, 'mdi-eye-outline': signupPassfield
                    }" (click)="togglesignupPassfield()"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="su-password-confirm">Confirm password</label>
                                <div class="password-toggle">
                                    <input class="form-control" [type]="signupCPassfield ? 'text' : 'password'"
                                        id="su-password-confirm" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span
                                            class="password-toggle-indicator" [ngClass]="{'mdi-eye-off-outline': !signupCPassfield, 'mdi-eye-outline': loginPassfield
                    }" (click)="togglesignupCPassfield()"></span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
                        </form>
                    </ng-template>
                </li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</ng-template>

<!-- Navbar 3 Level (Light)-->
<div (window:scroll)="windowScroll()" id="home">
    <header class="bg-light shadow-sm navbar-sticky">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand d-none d-sm-block me-4 order-lg-1" routerLink="/fashion-store-v1"><img
                        src="assets/img/logo-dark.png" width="142" alt="Cartzilla"></a><a
                    class="navbar-brand d-sm-none me-2 order-lg-1" routerLink="/fashion-store-v1" style="min-width: 4.625rem;"><img
                        src="assets/img/logo-icon.png" width="74" alt="Cartzilla"></a>
                <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" (click)="collapse.toggle()"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse"
                        data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span
                            class="navbar-tool-tooltip">Search</span>
                        <div class="navbar-tool-icon-box" (click)="collapse.toggle()"><i
                                class="navbar-tool-icon ci-search"></i></div>
                    </a><a class="navbar-tool d-none d-lg-flex" routerLink="/account/wishlist"><span
                            class="navbar-tool-tooltip">Wishlist</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
                    </a><a class="navbar-tool ms-1 me-n1" href="javascript:void(0);" data-bs-toggle="modal"
                        (click)="toggleModal(toggleFirstModal)"><span class="navbar-tool-tooltip">Account</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                    </a>
                    <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                            routerLink="/shop/cart"><span class="navbar-tool-label">4</span><i
                                class="navbar-tool-icon ci-cart"></i></a>
                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                                    <div class="widget-cart-item pb-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span
                                                aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"
                                                routerLink="/shop/single-v1"><img
                                                    src="assets/img/shop/cart/widget/01.jpg" width="64"
                                                    alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a routerLink="/shop/single-v1">Women
                                                        Colorblock Sneakers</a></h6>
                                                <div class="widget-product-meta"><span
                                                        class="text-accent me-2">$150.<small>00</small></span><span
                                                        class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span
                                                aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"
                                                routerLink="/shop/single-v1"><img
                                                    src="assets/img/shop/cart/widget/02.jpg" width="64"
                                                    alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a routerLink="/shop/single-v1">TH
                                                        Jeans City
                                                        Backpack</a></h6>
                                                <div class="widget-product-meta"><span
                                                        class="text-accent me-2">$79.<small>50</small></span><span
                                                        class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span
                                                aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"
                                                routerLink="/shop/single-v1"><img
                                                    src="assets/img/shop/cart/widget/03.jpg" width="64"
                                                    alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a routerLink="/shop/single-v1">3-Color
                                                        Sun
                                                        Stash Hat</a></h6>
                                                <div class="widget-product-meta"><span
                                                        class="text-accent me-2">$22.<small>50</small></span><span
                                                        class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span
                                                aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"
                                                routerLink="/shop/single-v1"><img
                                                    src="assets/img/shop/cart/widget/04.jpg" width="64"
                                                    alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a routerLink="/shop/single-v1">Cotton
                                                        Polo
                                                        Regular Fit</a></h6>
                                                <div class="widget-product-meta"><span
                                                        class="text-accent me-2">$9.<small>00</small></span><span
                                                        class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="fs-sm me-2 py-2"><span class="text-muted">Subtotal:</span><span
                                            class="text-accent fs-base ms-1">$265.<small>00</small></span></div><a
                                        class="btn btn-outline-secondary btn-sm" routerLink="/shop/cart">Expand cart<i
                                            class="ci-arrow-right ms-1 me-n1"></i></a>
                                </div><a class="btn btn-primary btn-sm d-block w-100"
                                    routerLink="/shop/checkout-details"><i
                                        class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse" #collapse="ngbCollapse"
                    [(ngbCollapse)]="isCollapsed">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3"><i
                            class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search for products">
                    </div>
                    <!-- Primary menu-->
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <!-- Search collapse-->
        <div class="search-box collapse" id="searchBox" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card pt-2 pb-4 border-0 rounded-0">
                <div class="container">
                    <div class="input-group"><i
                            class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search marketplace">
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- Hero slider-->


<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100">
        <a class="d-table-cell handheld-toolbar-item sidebar-filter d-none" href="javascript:void(0);"
            data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar" (click)="sidebar()"><span
                class="handheld-toolbar-icon"><i class="ci-filter-alt"></i></span><span
                class="handheld-toolbar-label">Filters</span></a>
        <a class="d-table-cell handheld-toolbar-item" routerLink="/account/wishlist">
            <span class="handheld-toolbar-icon">
                <i class="ci-heart"></i>
            </span>
            <span class="handheld-toolbar-label">Wishlist</span>
        </a>
        <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" (click)="collapse.toggle()" onclick="window.scrollTo(0, 0)">
            <span class="handheld-toolbar-icon">
                <i class="ci-menu"></i>
            </span>
            <span class="handheld-toolbar-label">Menu</span>
        </a>
        <a class="d-table-cell handheld-toolbar-item" routerLink="/shop/cart">
            <span class="handheld-toolbar-icon">
                <i class="ci-cart"></i>
                <span class="badge bg-primary rounded-pill ms-1">4</span>
            </span><span class="handheld-toolbar-label">$265.00</span></a>
    </div>
</div>