// Rating
.rstar {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fea569;
}
.rhalf {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #fea569;
}