<!-- Header-->
<app-grocery-header id="test"></app-grocery-header>
<!-- Sidebar menu-->
<app-side-menu></app-side-menu>
<!-- Page-->
<main class="offcanvas-enabled" style="padding-top: 5rem;">
  <section class="ps-lg-4 pe-lg-3 pt-4">
    <div class="px-3 pt-2">
      <!-- Page title + breadcrumb-->
      <app-grocery-breadcrumb [breadcrumbItems]="breadCrumbItems"></app-grocery-breadcrumb>
      <!-- Content-->
      <!-- Checkout form-->
      <form (ngSubmit)="placeorder()" [formGroup]="orderForm" class="needs-validation" novalidate>
        <div class="row g-0 pb-5 mb-xl-3">
          <!-- Delivery details-->
          <div class="col-xl-6 mb-3">
            <h1 class="h2 mb-4">{{"MENUITEMS.CHECKOUT.LIST.CheckOut" | translate}}</h1>
            <h2 *ngIf="false" class="h5 mb-4">Delivery details</h2>
            <div *ngIf="false"
              class="d-flex flex-wrap justify-content-between align-items-center rounded-3 border py-2 px-3 mb-4">
              <div class="d-flex align-items-center me-3 py-2"><img class="rounded-circle"
                  src="assets/img/grocery/newyork.jpg" width="50" alt="New York">
                <div class="ps-3">
                  <div class="fs-ms text-muted">Your city is:</div>
                  <div class="fs-md fw-medium text-heading">New York, USA</div>
                </div>
              </div>
              <div class="py-2"><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="javascript:void(0);"><i
                    class="ci-edit me-2"></i>Change city</a>
              </div>
            </div>
            <div *ngIf="false" class="row gx-4 gy-3">
              <div class="col-sm-6">
                <label class="form-label" for="co-fn">First name <span class='text-danger'></span></label>
                <input class="form-control" type="text" id="co-fn" required formControlName="first_name"
                  [ngClass]="{'is-invalid': submitted && form['first_name'].errors}">
                <div class="invalid-feedback">Please enter your first name!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="co-ln">Last name <span class='text-danger'>*</span></label>
                <input class="form-control" type="text" id="co-ln" required formControlName="last_name"
                  [ngClass]="{'is-invalid': submitted && form['last_name'].errors}">
                <div class="invalid-feedback">Please enter your last name!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="co-ln">Phone number <span class='text-danger'>*</span></label>
                <input class="form-control" type="tel" id="co-phone" required formControlName="phone"
                  [ngClass]="{'is-invalid': submitted && form['phone'].errors}">
                <div class="invalid-feedback">Please enter your phone number!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="co-fn">Email address</label>
                <input class="form-control bg-image-none" type="email" id="co-email">
              </div>
              <div class="col-sm-12">
                <label class="form-label" for="co-address">Address <span class='text-danger'>*</span></label>
                <input class="form-control" type="text" id="co-address" required formControlName="address"
                  [ngClass]="{'is-invalid': submitted && form['address'].errors}">
                <div class="invalid-feedback">Please enter your address!</div>
              </div>
              <div class="col-sm-12">
                <label class="form-label" for="co-note">Order note</label>
                <textarea class="form-control bg-image-none" id="co-note" rows="6"
                  placeholder="Please write here any additional information..."></textarea>
              </div>
            </div>
            <div *ngIf="false" class="rounded-3 border p-4 my-3">
              <h2 class="h6 pb-2">Do you have a coupon code?</h2>
              <div class="d-flex">
                <input class="form-control bg-image-none me-3" type="text" placeholder="Coupon code">
                <button class="btn btn-outline-primary" type="button">Apply code</button>
              </div>
            </div>
          </div>
          <!-- Order summary + payment-->
          <div class="col-xl-5 offset-xl-1 mb-2">
            <div class="bg-light rounded-3 py-5 px-4 px-xxl-5">
              <h2 class="h5">{{"MENUITEMS.CHECKOUT.LIST.YourOrder"|translate}}</h2>
              <span class="pb-3">{{"INDICATOR.CurrencyText" | translate}}</span>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th colspan="2">{{"TABLE.CHECKOUT.ROW.HEADER.ProductText" | translate}}</th>
                      <th>{{"TABLE.CHECKOUT.ROW.HEADER.QuantityText" | translate}}</th>
                      <th>{{"TABLE.CHECKOUT.ROW.HEADER.HTText" | translate}}</th>
                      <th>{{"TABLE.CHECKOUT.ROW.HEADER.TVAText" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of cart;let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td colspan="2">{{product.title || product.label}}</td>
                      <td>{{product.qty}}</td>
                      <td>{{product.price | number:'.1-4'}}</td>
                      <td>{{priceService.roundNumber(product.price_ttc)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ul class="list-unstyled fs-sm pt-4 pb-2 border-bottom">
                <li class="d-flex justify-content-between align-items-center">
                  <span class="me-2">{{"TABLE.CHECKOUT.ROW.HEADER.SubTotalHT" | translate}}:</span>
                  <span class="text-end fw-medium price">{{priceService.roundNumber(subtotalHT)}}</span>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <span class="me-2">{{"TABLE.CHECKOUT.ROW.HEADER.TotalTVA5" | translate}}: </span><span class="text-end fw-medium">
                    {{priceService.roundNumber(totalTVA5)}}
                  </span>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <span class="me-2">{{"TABLE.CHECKOUT.ROW.HEADER.TotalTVA20" | translate}}: </span><span class="text-end fw-medium">
                    {{priceService.roundNumber(totalTVA20)}}
                  </span>
                </li>
              </ul>
              <h3 class="fw-normal text-center my-4 py-2 price">{{priceService.roundNumber(subtotalTTC)}}€</h3>
              <!-- Payment methods accordion -->
              <div *ngIf="false" class="accordion accordio-flush shadow-sm rounded-3 mb-4" id="payment-methods">
                <div class="accordion-item border-bottom">
                  <div class="accordion-header py-3 px-3">
                    <div class="form-check d-table" data-bs-toggle="collapse" data-bs-target="#credit-card">
                      <input class="form-check-input" type="radio" name="license" id="payment-card" checked
                        (change)="changepaymentmethod('credit-card')">
                      <label class="form-check-label fw-medium text-dark" for="payment-card">Credit card<i
                          class="ci-card text-muted fs-lg align-middle mt-n1 ms-2"></i></label>
                    </div>
                  </div>
                  <div class="collapse show methods" id="credit-card" data-bs-parent="#payment-methods">
                    <div class="accordion-body py-2">
                      <input class="form-control bg-image-none mb-3" type="text" placeholder="Card number">
                      <div class="row">
                        <div class="col-6 mb-3">
                          <input class="form-control bg-image-none" type="text" placeholder="MM/YY">
                        </div>
                        <div class="col-6 mb-3">
                          <input class="form-control bg-image-none" type="text" placeholder="CVC">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-bottom">
                  <div class="accordion-header py-3 px-3">
                    <div class="form-check d-table" data-bs-toggle="collapse" data-bs-target="#paypal">
                      <input class="form-check-input" type="radio" name="license" id="payment-paypal"
                        (change)="changepaymentmethod('paypal')">
                      <label class="form-check-label fw-medium text-dark" for="payment-paypal">PayPal<i
                          class="ci-paypal text-muted fs-base align-middle mt-n1 ms-2"></i></label>
                    </div>
                  </div>
                  <div class="collapse methods" id="paypal" data-bs-parent="#payment-methods">
                    <div class="accordion-body pt-2"><a class="btn btn-primary btn-sm"
                        href="javascript:void(0);">Proceed with PayPal</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header py-3 px-3">
                    <div class="form-check d-table" data-bs-toggle="collapse" data-bs-target="#cash">
                      <input class="form-check-input" type="radio" name="license" id="payment-cash"
                        (change)="changepaymentmethod('cash')">
                      <label class="form-check-label fw-medium text-dark" for="payment-cash">Cash on delivery<i
                          class="ci-wallet text-muted fs-lg align-middle mt-n1 ms-2"></i></label>
                    </div>
                  </div>
                  <div class="collapse methods" id="cash" data-bs-parent="#payment-methods">
                    <div class="accordion-body pt-2">
                      <p class="fs-sm mb-0">I will pay with cash to the courier on delivery.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-2">
                <button class="btn btn-primary d-block w-100" type="submit" [disabled]="!cart.length">
                  {{"MENUITEMS.CHECKOUT.LIST.PlaceOrder"|translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- Footer-->
  <app-grocery-footer></app-grocery-footer>
</main>

<div id="msgmodal" data-bs-toggle="modal" (click)="toggleModal(toggleMsgModal)"></div>
<ng-template #toggleMsgModal let-modal>
  <div class="modal-content">
    <div class="modal-header bg-secondary">
      <ul class="nav nav-tabs card-header-tabs" role="tablist" ngbNav #nav="ngbNav">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="nav-link fw-medium">
            <!-- <i class="ci-unlocked me-2 mt-n1"> </i> -->
            Info
          </a>
          <ng-template ngbNavContent>

            <div class="mb-3">
              <strong>{{msg}}</strong>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" (click)="modal.close()">Close</button>

          </ng-template>
        </li>
      </ul>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()"
        id="modalclose"></button>
    </div>
    <div class="modal-body tab-content py-4">
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</ng-template>