<!-- Sidebar menu-->
<aside class="offcanvas offcanvas-expand w-100 border-end zindex-lg-5 pt-lg-5" id="sideNav"
    style="max-width: 21.875rem;">
    <div class="pt-2 d-none d-lg-block"></div>
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified mt-4 mt-lg-5 mb-0" role="tablist">
        <li [ngbNavItem]="1">
            <a ngbNavLink>
                Categories
            </a>
            <ng-template ngbNavContent>
                <!-- Categories-->
                <div class="sidebar-nav tab-pane fade show active" id="categories" role="tabpanel">
                    <div class="widget widget-categories">

                        <ngb-accordion [closeOthers]="true">
							<ngb-panel *ngFor="let item of categories" id={{item.id}} class="border-bottom">
								<ng-template ngbPanelTitle>
									<span class="d-flex align-items-center">
										{{item.label}}
									</span>
								</ng-template>
								<ng-template ngbPanelContent>
									<div class="px-grid-gutter pt-1 pb-4">
										<div class="widget widget-links">
											<ul class="widget-list">
												<li *ngFor="let i of item.subcategories" class="widget-list-item">
													<a class="widget-list-link" href="javascript:void(0);">
														{{i.label}}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</ng-template>
							</ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </ng-template>
        </li>
		<li class="nav-item d-lg-none"><a class="nav-link fs-sm" href="javascript:void(0);" data-bs-dismiss="offcanvas" role="tab" (click)="close()">
			<i class="ci-close fs-xs me-2"></i>Close
			</a>
		</li>
    </ul>
    <div class="offcanvas-body px-0 pt-3 pb-0" data-simplebar>
        <div class="tab-content">
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
    <div class="offcanvas-footer d-block px-grid-gutter pt-4 pb-4 mb-2">
        <div class="d-flex mb-3"><i class="ci-support h4 mb-0 fw-normal text-primary mt-1 me-1"></i>
            <div class="ps-2">
                <div class="text-muted fs-sm">Support</div>
                <a class="nav-link-style fs-md" href="tel:{{smlPhoneNumber}}">SMS-WhatsApp: <br>{{smlPhoneNumber}}</a>
                <br><br>
                <a class="nav-link-style fs-md" href="tel:{{smlHotline}}">Hotline: <br>{{smlHotline}}</a>
            </div>
        </div>
        <div class="d-flex mb-3"><i class="ci-mail h5 mb-0 fw-normal text-primary mt-1 me-1"></i>
            <div class="ps-2">
                <div class="text-muted fs-sm">Email</div><a class="nav-link-style fs-md"
                    href="mailto:{{smlEmail}}">{{smlEmail}}</a>
            </div>
        </div>
        <h6 class="pt-2 pb-1">Follow us</h6>
        <a class="btn-social bs-outline bs-twitter me-2 mb-2" href="javascript:void(0);">
                <i class="ci-twitter"></i></a>
                <a class="btn-social bs-outline bs-facebook me-2 mb-2" href={{smlFacebookURL}}><i class="ci-facebook"></i></a>
                <a class="btn-social bs-outline bs-instagram me-2 mb-2" href="javascript:void(0);"><i class="ci-instagram"></i></a>
                <a class="btn-social bs-outline bs-youtube me-2 mb-2" href="javascript:void(0);"><i class="ci-youtube"></i></a>
    </div>
</aside>