<main class="h-100">
  <div class="row g-0">
    <div class="col-xl-6 d-none d-xl-block">
      <img class="img-bg" src="assets/img/bg.jpg" alt="home page background">
    </div>
    <div class="col-xl-6 pt-1 px-5">
      <div class="row h-100">
        <div class="align-items-center text-center my-auto">
          <h4>{{"MENUITEMS.IDENTIFICATION.LIST.SignIn"|translate}}</h4>
          <form class="needs-validation form-inline" autocomplete="off" [formGroup]="LoginForm" 
          (ngSubmit)="onSubmitted()">
            <div class="form-group mb-3">
              <input class="form-control" type="text" id="si-email" placeholder="{{'MENUITEMS.IDENTIFICATION.LIST.Username'|translate}} " required
              formControlName="email" [(ngModel)]="loginuser.username" [ngClass]="{ 'is-invalid': submitted
              && f['email'].errors }">
              <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.ProvideUsername"|translate}}</div>
            </div>  
          
            <div class="form-group mb-3">
              <input class="form-control" [type]="loginPassfield ? 'text' :
                'password'" id="si-password" placeholder="{{'MENUITEMS.IDENTIFICATION.LIST.Password'|translate}}" required formControlName="password" [(ngModel)]="loginuser.password" [ngClass]="{ 'is-invalid':
                submitted && f['password'].errors }">
              <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.ProvidePassword"|translate}}
                <input class="password-toggle-check" type="checkbox">
                <span class="password-toggle-indicator"
                  [ngClass]="{'mdi-eye-off-outline': !loginPassfield,
                  'mdi-eye-outline': loginPassfield
                  }" (click)="toggleLoginPassField()">
                </span>
              </div> 
            </div>
          <div class="d-flex flex-wrap justify-content-between">
            <div class="form-check">
            </div><a class="fs-sm" href="javascript:void(0);">{{"MENUITEMS.IDENTIFICATION.LIST.ForgotPassword"|translate}}</a>
          </div>
          <button type="submit" class="btn btn-primary">{{"MENUITEMS.IDENTIFICATION.LIST.SignInButton"|translate}}</button>
          </form>
        
          <div class="text-divider py-5"><b>OU</b></div>
            <form class="needs-validation tab-pane fade show active" [formGroup]="SignUpForm"  (ngSubmit)="SignUpSubmit(SignUpForm.value)">
              <h4>{{"MENUITEMS.IDENTIFICATION.LIST.SignUp"|translate}}</h4>
              <div class="form-group mb-3">
                <input class="form-control" type="text" name="su-Societe" placeholder="{{'MENUITEMS.IDENTIFICATION.LIST.YourCompanyName'|translate}}" required
                  formControlName="Societe" [ngClass]="{ 'is-invalid': submit &&
                  fa['Societe'].errors }">
                <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.FillInCompanyName"|translate}}</div>
              </div>
              <div class="form-group mb-3">
                <input class="form-control" type="email" name="su-email" placeholder='{{"MENUITEMS.IDENTIFICATION.LIST.EmailAdress"|translate}}' required
                  formControlName="email" [ngClass]="{ 'is-invalid': submit &&
                  fa['email'].errors }">
                <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.ProvideEmail"|translate}}</div>
              </div>
              <div class="form-group mb-3">
                <input class="form-control" type="number" name="su-numTel" placeholder='{{"MENUITEMS.IDENTIFICATION.LIST.NumTel"|translate}}' required
                  formControlName="numTel" [ngClass]="{ 'is-invalid': submit &&
                  fa['numTel'].errors }">
                <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.FillNumTel"|translate}}</div>
              </div>
              <div class="form-group mb-3">
                <input class="form-control" type="number" name="su-KBis" placeholder='{{"MENUITEMS.IDENTIFICATION.LIST.KBis"|translate}}' required
                  formControlName="KBis" [ngClass]="{ 'is-invalid': submit &&
                  fa['KBis'].errors }">
                <div class="invalid-feedback">{{"MENUITEMS.IDENTIFICATION.LIST.FillKBis"|translate}}</div>  
              </div>
                <button type="submit" class="btn btn-primary">{{"MENUITEMS.IDENTIFICATION.LIST.SignUpButton"|translate}}</button>
            </form>
        </div>
      </div>
    </div> 
  </div>
</main>
