<!-- Navbar-->
<app-grocery-header></app-grocery-header>

<!-- Sidebar menu-->
<app-side-menu></app-side-menu>

<!-- Page-->
<main class="offcanvas-enabled" style="padding-top: 5rem;">
    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
            <!-- Page title + breadcrumb-->
            <!-- Content-->
            <!-- Slider-->

            <!-- Hero slider-->
            <section class="tns-carousel mb-3 mb-md-5">
                <swiper [config]="Coverflow">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Slide 1-->
                            <div>
                                <div class="rounded-3 px-md-5 text-center text-xl-start"
                                    style="background-color: #59c879;">
                                    <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto"
                                        style="max-width: 1226px;">
                                        <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                            <h2 class="h1 text-light">Fresh Foods a Click Away</h2>
                                            <p class="text-light pb-4">Order any goods from our store online and we
                                                deliver them
                                                to your door at
                                                a time convenient for you.</p>
                                            <h5 class="text-light pb-3">On the go? Try our mobile app</h5>
                                            <div
                                                class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                                <a class="btn-market btn-apple me-2 mb-2" href="javascript:void(0);" role="button"><span
                                                        class="btn-market-subtitle">Download on the</span><span
                                                        class="btn-market-title">App
                                                        Store</span></a><a class="btn-market btn-google mb-2" href="javascript:void(0);"
                                                    role="button"><span class="btn-market-subtitle">Download on
                                                        the</span><span class="btn-market-title">Google
                                                        Play</span></a>
                                            </div>
                                        </div>
                                        <div><img src="assets/img/grocery/slider/slide01.jpg" alt="Image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <!-- Slide 2-->
                            <div>
                                <div class="rounded-3 px-md-5 text-center text-xl-start"
                                    style="background-color: #1a6fb0;">
                                    <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto"
                                        style="max-width: 1226px;">
                                        <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                            <h2 class="h1 text-light">24/7 Delivery Service</h2>
                                            <p class="text-light pb-4">Order any goods from our store online and we
                                                deliver them
                                                to your door at
                                                a time convenient for you.</p>
                                            <h5 class="text-light pb-3">On the go? Try our mobile app</h5>
                                            <div
                                                class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                                <a class="btn-market btn-apple me-2 mb-2" href="javascript:void(0);" role="button"><span
                                                        class="btn-market-subtitle">Download on the</span><span
                                                        class="btn-market-title">App
                                                        Store</span></a><a class="btn-market btn-google mb-2" href="javascript:void(0);"
                                                    role="button"><span class="btn-market-subtitle">Download on
                                                        the</span><span class="btn-market-title">Google
                                                        Play</span></a>
                                            </div>
                                        </div>
                                        <div><img src="assets/img/grocery/slider/slide02.jpg" alt="Image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
            </section>

            <!-- How it works-->
            <section class="pt-4 mb-4 mb-md-5">
                <h2 class="h3 text-center mb-grid-gutter pt-2">How it works?</h2>
                <div class="row g-0 bg-light rounded-3">
                    <div class="col-xl-4 col-lg-12 col-md-4 border-end">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">01</div>
                                <div class="ps-2"><img class="d-block my-2" src="assets/img/grocery/steps/01.png"
                                        width="72" alt="Order online">
                                    <p class="mb-3 pt-1">You order your favorite products online</p>
                                </div>
                            </div>
                            <hr class="d-md-none d-lg-block d-xl-none">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-4 border-end">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">02</div>
                                <div class="ps-2"><img class="d-block my-2" src="assets/img/grocery/steps/02.png"
                                        width="72" alt="Grocery collected">
                                    <p class="mb-3 pt-1">A personal assistant collects the products from your list</p>
                                </div>
                            </div>
                            <hr class="d-md-none d-lg-block d-xl-none">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-4">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">03</div>
                                <div class="ps-2"><img class="d-block my-2" src="assets/img/grocery/steps/03.png"
                                        width="72" alt="Delivery">
                                    <p class="mb-3 pt-1">We deliver to the door at a time convenient for you</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Discounted products (Carousel)-->
            <section class="pt-3 pt-md-4">
                <!-- Heading-->
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
                    <h2 class="h3 mb-0 pt-3 me-3">Discounted products</h2>
                    <div class="pt-3"><a class="btn btn-outline-accent btn-sm" routerLink="/grocery/product-catalog">More
                            products<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>
                <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled pt-2">
                    <swiper [config]="Discount">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let prodict of discountedproduct;let i = index;">
                                <!-- Product-->
                                <div class="card product-card card-static pb-3"><span
                                        class="badge bg-danger badge-shadow">Sale</span>
                                    <button class="btn-wishlist btn-sm" type="button"
                                        data-bs-placement="left" ngbTooltip="Add to wishlist"><i
                                            class="ci-heart"></i></button><a routerLink="/account/wishlist"
                                        class="card-img-top d-block overflow-hidden"><img
                                            src="{{prodict.image}}" alt="Product"  (click)="gotodetail(i)"></a>
                                    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1"
                                            href="javascript:void(0);"  (click)="gotodetail(i)">{{prodict.category}}</a>
                                        <h3 class="product-title fs-sm text-truncate"><a
                                            href="javascript:void(0);">{{prodict.title}}</a></h3>
                                        <div class="product-price"><span class="text-accent">${{prodict.price}} </span>
                                            <del class="fs-sm text-muted"> ${{prodict.mrp}}</del>
                                        </div>
                                    </div>
                                    <div class="product-floating-btn">
                                        <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="addtocart(i)">+<i
                                                class="ci-cart fs-base ms-1"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </swiper>
                </div>
            </section>
            <!-- Bestsellers (Carousel)-->
            <section class="pt-5 pb-4">
                <!-- Heading-->
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
                    <h2 class="h3 mb-0 pt-3 me-3">Bestsellers</h2>
                    <div class="pt-3"><a class="btn btn-outline-accent btn-sm" routerLink="/grocery/product-catalog">More
                            products<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>
                <div class="tns-carousel tns-controls-static tns-controls-outside tns-dots-enabled pt-2">
                    <!-- Product-->
                    <swiper [config]="Discount">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let seller of bestseller;let i = index">
                                <div class="card product-card card-static pb-3">
                                    <button class="btn-wishlist btn-sm" type="button" 
                                        data-bs-placement="left" ngbTooltip="Add to wishlist"><i
                                            class="ci-heart"></i></button><a
                                        class="card-img-top d-block overflow-hidden" href="javascript:void(0);"  (click)="gotosellerdetail(i)"><img
                                            src="{{seller.image}}" alt="Product"></a>
                                    <div class="card-body py-2"  (click)="gotosellerdetail(i)"><a class="product-meta d-block fs-xs pb-1" href="javascript:void(0);">
                                            {{seller.category}}
                                        </a>
                                        <h3 class="product-title fs-sm text-truncate"><a
                                                href="javascript:void(0);">{{seller.title}}</a></h3>
                                        <div class="product-price"><span class="text-accent">${{seller.price}}</span>
                                        </div>
                                    </div>
                                    <div class="product-floating-btn">
                                        <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="addtocart(i)">+<i
                                                class="ci-cart fs-base ms-1"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </swiper>
                </div>
            </section>
            <!-- Reviews-->
            <section class="py-5 bg-light rounded-3 my-4 my-md-5 px-3 px-sm-4">
                <h2 class="h3 py-4 text-center">Customer reviews</h2>
                <div class="tns-carousel mb-3">
                    <swiper [config]="Review">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let review of reviews">
                                <blockquote class="mb-2">
                                    <div class="card border-0">
                                        <div class="card-body px-3 fs-md text-muted">
                                            <div class="mb-2">
                                                <div class="star-rating"><i
                                                        class="star-rating-icon ci-star-filled active"></i><i
                                                        class="star-rating-icon ci-star-filled active"></i><i
                                                        class="star-rating-icon ci-star-filled active"></i><i
                                                        class="star-rating-icon ci-star-filled active"></i><i
                                                        class="star-rating-icon ci-star"></i>
                                                </div>
                                            </div>{{review.content}}
                                        </div>
                                    </div>
                                    <footer class="d-flex justify-content-center align-items-center pt-4"><img
                                            class="rounded-circle" src="{{review.profile}}" width="50"
                                            alt="Richard Davis">
                                        <div class="ps-3">
                                            <h6 class="fs-sm mb-n1">{{review.name}}</h6><span
                                                class="fs-ms text-muted opacity-75">{{review.date}}</span>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </swiper>
                </div>
            </section>
            <div class="pb-3"></div>
        </div>
    </section>
    <app-grocery-footer></app-grocery-footer>
</main>