<app-navbar-level1-light></app-navbar-level1-light>

<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-9 pt-lg-2">
        <h1 class="h2">Sticky Footer Demo</h1>
        <p>See how footer sticks to the bottom when there is little content on the page. To achive such behavior wrap all the page content except <code>&lt;footer&gt;</code> with <code>&lt;main class="page-wrapper"&gt;...&lt;/main&gt;</code> and add <code>footer</code> class to <code>&lt;footer&gt;</code>.</p>
      </div>
    </div>
</div>

<footer class="footer bg-dark">
    <div class="container py-5 text-center">
      <h5 class="text-light mb-0">I'm a sticky footer</h5>
    </div>
</footer>