<!-- Header-->
<app-grocery-header></app-grocery-header>
<!-- Sidebar menu-->
<app-side-menu></app-side-menu>
<!-- Page-->
<main class="offcanvas-enabled" style="padding-top: 5rem;">
    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div *ngIf="product" div class="px-3 pt-2">
            <!-- Page title + breadcrumb-->
            <!-- <app-grocery-breadcrumb (goToCat)="getCat($event)" [breadcrumbItems]="breadCrumbItems"></app-grocery-breadcrumb> -->
            <!-- Content-->
            <!-- Product Gallery + description-->
            <section class="row g-0 mx-n2 pb-5 mb-xl-3">
                <div class="col-xl-7 px-2 mb-3">
                    <div class="h-100 bg-light rounded-3 p-4">
                        <div class="product-gallery">
                            <div *ngIf="preview" class="product-gallery-preview order-sm-2">
                                <div class="product-gallery-preview-item active" id="first">
                                    <img src="{{preview}}" alt="Product image">
                                </div>
                            </div>
                            <div class="product-gallery-thumblist order-sm-1">
                                <div *ngFor="let img of productimage;let i =index;" id="{{i}}"
                                    class="product-gallery-thumblist-item" (click)="imagePreview(i,$event)">
                                    <img src="{{img}}" alt="Product thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 px-2 mb-3">
                    <div class="h-100 bg-light rounded-3 py-5 px-4 px-sm-5">
                        <!-- <a class="product-meta d-block fs-sm pb-2"
                            href="javascript:void(0);">{{product.category}}
                        </a> -->
                        <h1 class="h2">{{ product.label }}</h1>
                        <div class="h2 fw-normal text-accent price">{{product.price |number:'.2-4'}}€</div>
                        <div class="d-flex flex-wrap align-items-center pt-4 pb-2 mb-3">
                            <select class="form-select me-3 mb-3" style="width: 5rem;" [(ngModel)]="qty">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            <button class="btn btn-primary btn-shadow me-3 mb-3" type="submit" (click)="addcart()"><i
                                    class="ci-cart fs-lg me-2"></i>{{"MENUITEMS.SINGLEPRODUCT.LIST.AddToCart"|translate}}</button>
                            <button class="btn btn-icon btn-secondary mb-3" type="submit"
                                ngbTooltip="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                        </div>
                        <h6>{{"MENUITEMS.SINGLEPRODUCT.LIST.ProductDescription"|translate}}</h6>
                        <ul class="list-unstyled fs-sm pt-2 mb-0">
                            <li><i class="ci-check-circle text-success me-2"></i>{{product.description}}</li>
                            <!-- <li><i class="ci-check-circle text-success me-2"></i>Natural ingredients</li>
                            <li><i class="ci-check-circle text-success me-2"></i>No dyes and flavor enhancers</li>
                            <li><i class="ci-check-circle text-success me-2"></i>Gluten free</li>
                            <li><i class="ci-check-circle text-success me-2"></i>Vitamins B2, B3, B5 and B6</li>
                            <li><i class="ci-check-circle text-success me-2"></i>Tastes better with milk</li> -->
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Footer-->
    <app-grocery-footer></app-grocery-footer>
</main>